.collection-inner{
    display: flex;
    align-items: center;
    padding-top: 200px;
    @media (max-width: $tab) {
        padding-top: 165px;
    }
    @media (max-width: $phone) {
        padding-top: 52px;
    }
    @media (max-width: $phone) {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .collection-bc{
        position: relative;
        right: 110px;
        background-image: url(../img/collection-bc.png);
        background-repeat: no-repeat;
        background-position: left;
        width: 647px;
        height: 560px;
        
        @media (max-width: $tab) {
            background-image: url(../../img/bc-img-tab.collection.png);
            width: 420px;
            height: 514px;
        }

        @media (max-width: $phone) {
            background-image: url(../img/bc-img-collection-phone.png);
            width: 500px;
            height: 350px;
            transform: translateX(290px);
        }
    }
    img{
        position: relative;
        left: 90px;
        @media (max-width: $tab) {
            width: 425px;
            height: 386px;
            position: relative;
            top: 40px;
            transform: translateX(-80px);
        }
        @media (max-width: $phone) {
            width: 155px;
            height: 137px;  
            transform: translateX(-85px);
        }
    }

}

.collection-item{
    text-align: right;
    max-width: 550px;
    @media (max-width: $phone) {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    h2{
        font-family: $frist-font-family;
        font-style: normal;
        font-weight: 600;
        font-size: 50px;
        line-height: 107.9%;
        color: $color-shrift;
        padding-bottom: 32px;

        @media (max-width: $tab) {
            font-size: 40px;
            transform: translateX(45px);
        }
    }
    p{
        font-family: $color-shrift-p;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        color: $color-shrift-p;
        margin-bottom: 34px;
        max-width: 400px;
        transform: translateX(150px);
        @media (max-width: $phone) {
            transform: translateX( 70px);
        }
    }
    a{
        padding: 12px 30px;
        background-color: $color-shrift;
        border-radius: 8px;
        font-family: $color-shrift-p;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 97.9%;
        color: white;
        letter-spacing: 0.01em;
        text-transform: uppercase;

        @media (max-width: $phone) {
            transform: translateX( 40px);
        }
    }
    .nav-list-item:hover{
        background-color: #FFFFFF;
        color: $color-shrift;
    }
}